:root {
  --padding-web: 0 10px;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.title-navitation-links {
  list-style: none;
  font-size: 1rem;
  display: flex;
  gap: 10px;
}
.title-navigation {
  display: flex;
  justify-content: space-between;
  background-color: rgb(101, 128, 203);
  padding: var(--padding-web);
  height: 80px;
  align-items: center;
}

.title-navigation__title {
  font-size: 0.8rem;
}

.title-navigation-menu {
  display: flex;
  font-size: 0.5rem;
}

.list-edit {
  background-color: rgb(232, 124, 47);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-web);
}

.ingredient-list {
  background-color: rgb(240, 147, 66);
  min-height: 100vh;
  padding-top: 20px;
}

.ingredient-list__ingredient {
  display: flex;
  padding: 10px 10px;

  justify-content: space-between;
}

.ingredient--trought {
  text-decoration: line-through;
}
