* {
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.title-navitation-links {
  list-style: none;
  font-size: 1rem;
  display: flex;
  gap: 10px;
}
.title-navigation {
  display: flex;
  justify-content: space-between;
  background-color: rgb(101, 128, 203);
  padding: 0 10px;
  height: 80px;
  align-items: center;
}

.title-navigation__title {
  font-size: 0.8rem;
}

.title-navigation-menu {
  display: flex;
  font-size: 0.5rem;
}

.list-edit {
  background-color: rgb(232, 124, 47);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}
