:root {
  --padding-web: 0 10px;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

body {
  margin: 0;
  min-width: 100vw;
}

.title-navitation-links {
  list-style: none;
  font-size: 0.9rem;
  display: flex;
  gap: 10px;
}
.title-navigation {
  display: flex;
  justify-content: space-between;
  background-color: #5d81d1;
  padding: var(--padding-web);
  height: 80px;
  align-items: center;
}

.title-navigation__title {
  font-size: 0.75rem;
}

.title-navigation-menu {
  display: flex;
  font-size: 0.5rem;
}

.list-edit {
  background-color: #f87400;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-web);
}

.ingredient-list {
  background-color: #ff8d26;
  min-height: 100vh;
  padding-top: 20px;
}

.ingredient-list__ingredient {
  display: flex;
  padding: var(--padding-web);

  justify-content: space-between;
}

.ingredient--trought {
  text-decoration: line-through;
}

.divisor-ingredients-sum {
  width: 97%;
}

.price-sum-ingredients {
  text-align: end;
  padding: var(--padding-web);
  font-size: 1.5rem;
}

.menu--selected {
  font-weight: bold;
}

label {
  display: block;
}

.edit-article-box {
  width: 175px;
  height: 50px;
  border: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ingredient-list__form {
  padding: var(--padding-web);
}

.button-modify {
  color: white;
  background-color: rgb(101, 128, 203);
  border: 0px;
  font-size: 1rem;
  padding: 10px;
}
